
header {
  background-color: bisque;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  height: 130px;
  height: 200px;
  flex-basis: 1;
  text-shadow: 1px 1px black;
}

h1{
  display: flex;
  width: 100%;
  justify-content: space-around;
  align-items:center ;
  justify-content: center;
  font-family: "Audiowide", sans-serif;
  color: brown;
  text-shadow: 1px 1px black;
}

header img{
  width: 300px;
  text-align: center;
}

header h1{
display: flex;
font-size: xx-large;
}

header nav{
  width: 960px;
  margin: auto;
  flex-direction: row;
  align-items: center;
 

}

#bottomul{
  display: flex;
  justify-content:center;
  align-items:center ;
  flex-direction: row;
  margin: 0%;
  border: none;
}

#topul{
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items:center ;

}

ul{
  text-align: center;
}
li{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  display:inline-block;
  background-color:darksalmon;
  padding: 10px 30px;
  border-radius: 2%;
  border: solid;
  border-style:ridge;
  margin:0px 10px;
  text-align: center;
  font-family:Verdana, Geneva, Tahoma, sans-serif;
  font-size: large;
}
main{
  padding-top: 20px;
  display: flex;
  width: 100%;
  background-color: rgb(170, 80, 73);
  margin-bottom:0px;
 flex-wrap: wrap;
 flex-direction: column;
 justify-content: center;

 
}

main img{
  width: 30px;
  margin-bottom: 30px;
  border-radius: 5%;
  
}

footer{
  height: 100px;
  background-color: bisque;
  width: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  
}



p{
  margin-top: 10px;


}
body{
  height: 1500px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

div {
margin-bottom: 30px;
display: flex;
justify-content: space-around;
}

button:hover{
  color: rgb(216, 27, 106);
  transition: 320ms;
  cursor: pointer;
}

button {
  margin-top: 10px;
}

#topArticle{
  width: auto;
  margin-bottom: 30px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.cookie img{

  height: 100px;
  width: auto;

}
#fam{
width: 400px;
text-align: center;
margin: auto;
width: 500px;
}


#family-div{
  flex-grow: 0;
  margin-top: 10px;
  justify-content:flex-end;
  align-items: center;
  gap: 40px; 
  width: 1200px;
  margin: auto;
/* border: solid black 5px; */
display: flex;
flex-direction: column;
color:cornsilk;
  
}
#familypicture{
 justify-content: center;
 margin-bottom: -20px;
}





body{
  height: auto;
}
h2{
  text-decoration: underline;
  margin-top: 10px;
  /* border: solid black ; */
  align-items: center;
  padding: 20px;
  border-radius:5%;
  background-color: darkgrey;
  font-family:Verdana, Geneva, Tahoma, sans-serif;
  font-size: x-large;
  color: black;
}

section{
  /* border: solid black; */
  display: flex;
}

#cookie{
display: flex;
gap: 10px;

}

.salmonClass{
  flex-direction: column;
}

.salmonClass img{
  width: 200px;
}

a{
  text-decoration: none;
  color: brown;
   text-shadow: 2px 2px black;
   font-size: x-large;
   font-family: "Audiowide", sans-serif;
}

a:hover{
  background-color: bisque;
  border-radius: 10%;
  cursor: pointer;
  
}
